In [1]:
import time
from watchdog.observers import Observer
from watchdog.events import FileSystemEventHandler, PatternMatchingEventHandler
import duckdb
import pathlib
import pandas as pd
import numpy as np
import random

sleeping_time = 10

while True:
    offset = random.randint(0, 9)
    try:
        conn_expl = duckdb.connect(database=str(pathlib.Path().resolve().parent) + '/exploitation/my-db.duckdb', read_only=False)
        conn_trusted = duckdb.connect(database=str(pathlib.Path().resolve().parent) + '/trusted/my-db.duckdb', read_only=False)
        trusted_cursor = conn_trusted.cursor()
        # merge tables
        df = trusted_cursor.execute("SELECT * FROM student INNER JOIN countrycode on student.country = countrycode.country INNER JOIN IQ on countrycode.country_name = IQ.country").df()
        conn_expl.execute(f"CREATE OR REPLACE TABLE dataset AS SELECT * FROM df")

    except BaseException as error:
        # print(error)
        print("Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D")
        
    finally:
        conn_expl.close()
        conn_trusted.close()
        time.sleep(sleeping_time + offset)

Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D

KeyboardInterrupt:

In [2]:
conn_expl = duckdb.connect(database=str(pathlib.Path().resolve().parent) + '/exploitation/my-db.duckdb', read_only=False)
df = conn_expl.execute(f"SELECT * FROM DATASET").df()
conn_expl.close()
df

,year,country,school_id,student_id,mother_educ,father_educ,gender,computer,internet,math,...,car,book,wealth,escs,country_2,country_name,rank,country_3,finalIq,pop2021
0,2015,BRA,7600614,7610675,ISCED 3A,ISCED 1,female,yes,yes,310.261,...,0,0-10,-1.5139,-0.7729,BRA,Brazil,81,Brazil,85,213993.437
1,2015,BRA,7600614,7606919,NA,NA,female,NA,NA,292.528,...,NA,NA,NA,NA,BRA,Brazil,81,Brazil,85,213993.437
2,2015,BRA,7600614,7622196,NA,NA,female,NA,NA,379.680,...,NA,NA,NA,NA,BRA,Brazil,81,Brazil,85,213993.437
3,2015,BRA,7600614,7614620,NA,NA,female,NA,NA,346.258,...,NA,NA,NA,NA,BRA,Brazil,81,Brazil,85,213993.437
4,2015,BRA,7600614,7614697,ISCED 3A,ISCED 3A,female,yes,yes,295.887,...,1,0-10,-1.1079,-1.4926,BRA,Brazil,81,Brazil,85,213993.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431285,2015,GBR,82650116,82652111,ISCED 3A,"ISCED 3B, C",female,yes,yes,593.888,...,2,201-500,0.2764,-0.5155,GBR,United Kingdom,14,United Kingdom,99,68207.116
431286,2015,GBR,82650116,82651390,"ISCED 3B, C",NA,female,yes,yes,501.479,...,1,26-100,0.6102,-1.1339,GBR,United Kingdom,14,United Kingdom,99,68207.116
431287,2015,GBR,82650116,82650989,ISCED 3A,ISCED 3A,female,yes,yes,489.734,...,1,0-10,-0.0355,-0.3067,GBR,United Kingdom,14,United Kingdom,99,68207.116
431288,2015,GBR,82650116,82653631,ISCED 3A,"ISCED 3B, C",male,yes,yes,428.049,...,2,0-10,0.7723,0.4288,GBR,United Kingdom,14,United Kingdom,99,68207.116
431289,2015,GBR,82650116,82651512,ISCED 2,"ISCED 3B, C",male,yes,yes,370.465,...,1,more than 500,0.5628,0.7498,GBR,United Kingdom,14,United Kingdom,99,68207.116